---
import ArrowCard from "../components/ArrowCard.astro";
import BreathingCircle from "../components/BreathingCircle.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const techniques = await getCollection("techniques");
---

<Layout title="Prana - Breathing Exercises">
	<main class="max-w-2xl w-full mx-auto px-4 py-8">
		<h2 class="text-xl font-bold mb-4">Quick Start</h2>
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
			{techniques.map((e) => <ArrowCard entry={e} />)}
			<ArrowCard
				entry={{
					id: "configure",
					data: {
						title: "Configure your own",
						description: "Customize your own breathing exercise",
					},
				}}
				class="col-span-1 lg:col-span-3"
			/>
		</div>
	</main>
</Layout>
