---
import ColorSelector from "./ColorSelector.astro";
---

<div
  class="p-4 mx-auto w-full max-w-2xl mt-4 border rounded-full border-black/15 dark:border-white/20"
>
  <div class="flex justify-between items-center">
    <a class="text-xl font-bold" href="/"> Breathing Exercises </a>
    <div class="flex gap-2 items-center">
      <ColorSelector />
    </div>
  </div>
</div>
